html,
body {
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

h1,
h2,
h3 {
    font-family: 'Abel', 'Arial', sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
}

h1 {
    font-size: 34px;
    letter-spacing: 3.9px;
    line-height: 40px;
    color: #3B4247;
    margin-top: 50px;
}

h2 {
    font-size: 24px;
    letter-spacing: 2.6px;
    line-height: 16px;
    color: #B1B6B9;
}

h3 {
    font-size: 18px;
    letter-spacing: 1.38px;
    color: #B1B6B9;
}

body,
p {
    font-family: 'Jaldi', 'Arial', sans-serif;
    color: #5A5F63;
    letter-spacing: -0.09px;
    line-height: 29px;
    font-size: 17px;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: #FB7878;
    -o-transition: .4s;
    -ms-transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    Transition: .4s;
}

a:hover {
    opacity: 0.5;
}

.h-line {
    width: 100vw;
    height: 1px;
    background-color: #D8DBDE;
    padding: 0;
    margin: 0;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190px;
    padding-top: 10px;
    text-align: center;
}

#header img {
    width: 70px;
}

#header h3 {
    line-height: 0;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

#logo img {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}